

@{
    ViewData["Title"] = "الرئيسية";
}




<div class="row g-3">



    <!--بداية بطاقة  -->
    <div class="col-xxl-6 col-md-6 col-sm-2">
        <div class="card info-card courses-card ">
            <div class="card-body " style="background-color:#4a0c9b">
                <h5 class="card-title">اجمالي التكاليف المواد بالريال اليمني</h5>

                <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="ri-currency-fill fs-2"></i>
                    </div>
                    <div class="p-3">
                        <h2 class="">@ViewBag.MaterialsCostInYemeny.ToString("C") <span class="fs-5 fw-light">ريال يمني</span> </h2>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- نهاية بطاقة  -->
    <!--بداية بطاقة  -->
    <div class="col-xxl-6 col-md-6 col-sm-2">
        <div class="card info-card courses-card">
            <div class="card-body " style="background-color:#ef2665">
                <h5 class="card-title">اجمالي التكاليف المواد بالريال السعودي</h5>

                <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="ri-currency-fill fs-2"></i>
                    </div>
                    <div class="p-3">
                        <h2 class="">@ViewBag.MaterialsCostInSaudi.ToString("C")  <span class="fs-5 fw-light">ريال سعودي</span></h2>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- نهاية بطاقة  -->


     <!--بداية بطاقة  -->
    <div class="col-xxl-4 col-md-6 col-sm-2">
        <div class="card info-card courses-card">
            <div class="card-body" >
                <h5 class="card-title">اجمالي التكاليف أجرة البناء</h5>

                <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="ri-bill-line fs-2"></i>
                    </div>
                    <div class="p-3">
                        <h2 class=""><span class="fs-2">@ViewBag.BuildingFees.ToString("C")</span> <span class="fs-5 fw-light">ريال يمني</span></h2>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- نهاية بطاقة  -->
    <!--بداية بطاقة  -->
    <div class="col-xxl-4 col-md-6 col-sm-2">
        <div class="card info-card courses-card">
            <div class="card-body" >
                <h5 class="card-title"> اجمالي التكاليف أجرة طلوع المواد</h5>

                <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="ri-bill-line fs-2"></i>
                    </div>
                    <div class="p-3">
                        <h2 class="">@ViewBag.BuildingMaterialsLiftingFees.ToString("C") <span class="fs-5 fw-light">ريال يمني</span> </h2>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- نهاية بطاقة  --> 

    <!--بداية بطاقة  -->
    <div class="col-xxl-4 col-md-6 col-sm-2">
        <div class="card info-card courses-card">
            <div class="card-body" >
                <h5 class="card-title"> اجمالي التكاليف أجرة عمال الصبة </h5>

                <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="ri-bill-line fs-2"></i>
                       
                    </div>
                    <div class="p-3">
                        <h2 class="">@ViewBag.ConcreteWorkersFee.ToString("C") <span class="fs-5 fw-light">ريال يمني</span> </h2>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- نهاية بطاقة  --> 



    <!--بداية بطاقة  -->
    <div class="col-xxl-6 col-md-6 col-sm-2">
        <div class="card info-card courses-card">
            <div class="card-body" >
                <h5 class="card-title"> اجمالي التكاليف أجرة تأسيس الكهرباء </h5>

                <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="ri-bill-line fs-2"></i>
                       
                    </div>
                    <div class="p-3">
                        <h2 class="">@ViewBag.Electricityinstallationfee.ToString("C") <span class="fs-5 fw-light">ريال يمني</span> </h2>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- نهاية بطاقة  --> 


    <!--بداية بطاقة  -->
    <div class="col-xxl-6 col-md-6 col-sm-2">
        <div class="card info-card courses-card">
            <div class="card-body" style="">
                <h5 class="card-title"> اجمالي التكاليف أجرة النجار  </h5>

                <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="ri-bill-line fs-2"></i>
                       
                    </div>
                    <div class="p-3">
                        <h2 class="">@ViewBag.Carpenterfee.ToString("C") <span class="fs-5 fw-light">ريال يمني</span> </h2>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- نهاية بطاقة  --> 
</div>
